In [1]:
import numpy as np

In [2]:
ar = np.array([[2,4,5],[7,8,9]])

In [3]:
ar.max()

9

In [4]:
ar.ravel()

array([2, 4, 5, 7, 8, 9])

In [5]:
ar

array([[2, 4, 5],
       [7, 8, 9]])

In [6]:
ar.sort()

In [7]:
ar

array([[2, 4, 5],
       [7, 8, 9]])

In [8]:
ar.sum(axis=0)

array([ 9, 12, 14])

In [9]:
ar.sum(axis=1)

array([11, 24])

In [10]:
arr = np.array([[1,3,4],[4,6,7]])

In [11]:
a = ar+arr

In [12]:
a.T

array([[ 3, 11],
       [ 7, 14],
       [ 9, 16]])

In [13]:
import pandas as pd

In [14]:
dict1 = {"name":["Adarsh","Animesh"],"city":["Gyanpur", 'Bhadohi'], "marks":[8.57,8.43]}

In [15]:
df = pd.DataFrame(dict1)

In [16]:
df

      name     city  marks
0   Adarsh  Gyanpur   8.57
1  Animesh  Bhadohi   8.43

In [17]:
df.to_csv("details.csv")

In [18]:
df.iloc[0,0]

'Adarsh'

In [19]:
df.iloc[0,1] = 9.5

In [20]:
df

      name     city  marks
0   Adarsh      9.5   8.57
1  Animesh  Bhadohi   8.43

In [21]:
df.drop(["name"], axis =1)

      city  marks
0      9.5   8.57
1  Bhadohi   8.43

In [22]:
df1 = pd.DataFrame({"God":["Ram","Krishna",'Shiva',"Vishnu"], "Vapon": ["Bow","Sudarshana","Trident","Sudarshana"], "Power":[85,94,96,95]})

In [23]:
df1

       God       Vapon  Power
0      Ram         Bow     85
1  Krishna  Sudarshana     94
2    Shiva     Trident     96
3   Vishnu  Sudarshana     95

In [24]:
import re
string = 'bat, lat, mat, bet, let, met, bit, lit, mit, bot, lot, mot'
result = re.findall('b[ao]t', string)
print(result)

['bat', 'bot']

In [25]:
a1 = np.random.rand(4)
a2 = np.random.rand(4, 1)
a3 = np.array([[1, 2, 3, 4]])
a4 = np.arange(1, 4, 1)
a5 = np.linspace(1 ,4, 4)

In [26]:
a4.ndim

1

In [27]:
a5.shape == a1.shape

True

In [28]:
a3.shape == a4.shape

False

In [29]:
a1.shape

(4,)

In [30]:
a2.shape

(4, 1)

In [31]:
a3.shape

(1, 4)

In [32]:
a3.reshape(2,2)

array([[1, 2],
       [3, 4]])

In [33]:
a4.shape

(3,)

In [34]:
a5

array([1., 2., 3., 4.])

In [35]:
a1

array([0.88874604, 0.21140205, 0.77861363, 0.31799662])

In [36]:
import numpy as np

old = np.array([[1, 1, 1], [1, 1, 1]])
new = old
new[0, :2] = 0

print(old)

[[0 0 1]
 [1 1 1]]

In [37]:
import re 
s = 'ACBCAC'

In [38]:
re.findall('^AC', s)

['AC']

In [39]:
import re
s = 'ACAABAACAAAB'
result = re.findall('A{1,2}', s)
L = len(result)

In [40]:
print(result
     )

['A', 'AA', 'AA', 'AA', 'A']

In [41]:
xy = 'I refer to https://google.com and I never refer http://www.baidu.com if I have to search anything'

In [51]:
text=r'''Everyone has the following fundamental freedoms:
    (a) freedom of conscience and religion;
    (b) freedom of thought, belief, opinion and expression, including freedom of the press and other media of communication;
    (c) freedom of peaceful assembly; and
    (d) freedom of association.'''

import re
pattern = "\n" 
print(re.findall(pattern,text))

['\n', '\n', '\n', '\n']

In [47]:
text

'Everyone has the following fundamental freedoms:\n    (a) freedom of conscience and religion;\n    (b) freedom of thought, belief, opinion and expression, including freedom of the press and other media of communication;\n    (c) freedom of peaceful assembly; and\n    (d) freedom of association.'

In [52]:
wdata = r'''The 1916 Texas hurricane was an intense and quick-moving tropical cyclone that caused widespread damage in Jamaica and South Texas in August 1916. A Category 4 hurricane upon landfall in Texas, it was the strongest tropical cyclone to strike the United States in three decades. Throughout its eight-day trek across the Caribbean Sea, Gulf of Mexico, and Texas, the hurricane caused 37 fatalities and inflicted $11.8 million in damage. Becoming a small tropical storm by August 12, it skirted the southern coast of Jamaica as a hurricane on August 15, killing 17 people and causing extensive damage to crops and buildings. The storm then moved into the Gulf of Mexico and intensified into the equivalent of a major hurricane on the modern-day Saffir–Simpson scale. On the evening of August 18, it struck South Texas near Baffin Bay with winds of 130 mph (215 km/h). The storm's evolution has been inferred from scant historical weather data analyzed by the Atlantic hurricane reanalysis project in 2008.'''

In [53]:
wdata

"The 1916 Texas hurricane was an intense and quick-moving tropical cyclone that caused widespread damage in Jamaica and South Texas in August 1916. A Category 4 hurricane upon landfall in Texas, it was the strongest tropical cyclone to strike the United States in three decades. Throughout its eight-day trek across the Caribbean Sea, Gulf of Mexico, and Texas, the hurricane caused 37 fatalities and inflicted $11.8 million in damage. Becoming a small tropical storm by August 12, it skirted the southern coast of Jamaica as a hurricane on August 15, killing 17 people and causing extensive damage to crops and buildings. The storm then moved into the Gulf of Mexico and intensified into the equivalent of a major hurricane on the modern-day Saffir–Simpson scale. On the evening of August 18, it struck South Texas near Baffin Bay with winds of 130 mph (215 km/h). The storm's evolution has been inferred from scant historical weather data analyzed by the Atlantic hurricane reanalysis project in 2008."

In [58]:
pattern = re.compile("\d{4}")
print(re.finditer(pattern,wdata))

<callable_iterator object at 0x11b42f7c0>